body{
    min-height: 100vh;
    background: linear-gradient(to right bottom, #FFF7DE, #BBD6D2, #76B4C5);
    display: flex;
    flex-direction: column;
}

header{
    height: 7rem;
    display: flex;
    justify-content: end;
    align-items: center;
    font-weight: 500;
}

a{
    font-size: 24px;
    margin-right: 1.5rem;
    text-decoration: none;
    color: black;
}

a:hover{
    color: #76B4C5;
    text-decoration: underline;
}

img{
    height: 4rem;
    width: 4rem;
    margin-right: 3.8rem;
}

main{
    flex: 1;        
    display: flex;
    flex-direction: column;
}

p{
    font-weight: 800;
    font-size: 32px;
}

#nome-pagina{
    margin-left: 3rem;
    margin-bottom: 1.8rem;
}

.anotacoes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nota{
    width: 20%;
    height: 8.5rem;
    font-size: 30px;
    font-weight: bold;
    margin: 2rem 2rem 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: #FFF7DE;
    padding: 24px;
}

.nota:hover{
    background-color: #76B4C5;
}

#icone-add{
    margin: auto;
}