body{
    min-height: 100vh;
    background: linear-gradient(to right bottom, #FFF7DE, #BBD6D2, #76B4C5);
    display: flex;
    flex-direction: column;
}

header{
    height: 6rem;
    display: flex;
    align-items: center;
}

a{
    display: block;
    width: 2.8rem;
    margin: 2.5rem;
}

img{
    height: 100%;
    width: 100%;
}

main{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form{
    background-color: #FFF7DE;
    width: 50rem;
    min-height: 28rem;
    padding: 42px;
    border-radius: 24px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #76B4C5;
    font-size: 30px;
}

.dados{
    font-weight: 500;
    color: black;
    font-size: 28px;
    margin-top: 2px;
    margin-bottom: 10px;
    overflow-wrap: break-word; /* Quebra linha se o conteúdo exceder o tamanho do layout */
}

#titulo{
    text-align: center;
    font-size: 32px;
    margin-bottom: 18px;
}

.icones{
    display: flex;
    width: 50%;
    justify-content: center;
}

.icone{
  height: 3rem;
  width: 3rem;
}

.icone-editar{
    padding: 12px;
    background-color: #facf8e;
    border-radius: 24px;
    cursor: pointer;
}

.icone-lixo{
    background-color: #FA8E8E;
    padding: 12px;
    border-radius: 24px;
    cursor: pointer;
}